<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teste</title>

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
      }
    </style>
  </head>
  <body>
    <h1 style="color: white; text-align: center;">Use as setas &larr; &rarr; para mover o Diddy</h1>

    <canvas
      id="diddy-canvas"
      width="800"
      height="450"
      style="display: block; margin: 0 auto; border: 2px solid red"
      data-controller="player"
      data-player-background-url-value="<%= asset_path("fundo.jpg") %>"
      data-player-sprite-url-value="<%= asset_path("seya.gif") %>"
      data-player-punch-url-value="<%= asset_path("seya_soco.gif") %>"
      data-player-tile-urls-value="<%= tile_urls_json %>"
      data-player-goal-tile-id-value="<%= goal_tile_id %>"
      data-player-level-cols-value="120"></canvas>
  </body>
</html>