<div class="container">
  <div class="page-header">
    <h1><%= @level.name %></h1>
    <div class="level-actions">
      <%= link_to "â† Back", levels_path, class: "btn btn-secondary" %>
      <%= link_to "Edit", edit_level_path(@level), class: "btn btn-primary" %>
    </div>
  </div>

  <canvas
  width="800"
  height="450"
  style="display: block; border: 2px solid red"
  data-controller="player"
  data-player-background-url-value="<%= asset_path("fundo.jpg") %>"
  data-player-sprite-url-value="<%= asset_path("seya.gif") %>"
  data-player-tile-urls-value="<%= tile_urls_json %>"
  data-player-goal-tile-id-value="<%= goal_tile_id %>"
  data-player-map-value='<%= @level.map.to_json %>'></canvas>
</div>
